<div class="login-container">
  <div class="back-container">
    <a routerLink="/" class="back-icon" title="Retour">
      <mat-icon aria-label="back"  fontIcon="arrow_back"></mat-icon>
    </a>
  </div>
  <div class="form-wrapper">
    <div>
      <h2>Inscription</h2>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-field">

        <label for="username">Nom d'utilisateur</label>
        <input id="username" matInput formControlName="username" />

        <div class="error" *ngIf="registerForm.get('username')?.hasError('required') && registerForm.get('username')?.touched">
          Le nom d'utilisateur est requis
        </div>
      </div>

      <div class="form-field">

        <label for="email">Adresse e-mail</label>
        <input id="email" matInput formControlName="email" />

        <div class="error" *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched">
          L'adresse e-mail est requise
        </div>
      </div>

      <div class="form-field">
        <label for="password">Mot de passe</label>
        <input id="password" matInput formControlName="password" type="password" />

        <div class="error" *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
          Le mot de passe est requis
        </div>
      </div>

      <button class="button" type="submit" [disabled]="registerForm.invalid || isLoading">S'inscrire</button>
      <div *ngIf="isLoading" class="loading-overlay">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
    </form>
  </div>
</div>
