<div class="container">

  <h1>Profil utilisateur</h1>

  <form [formGroup]="profileForm">
    <div class="form-field">
      <input matInput formControlName="username" placeholder="Nom d'utilisateur"/>
    </div>

    <div class="form-field">
      <input matInput formControlName="email" placeholder="Email"/>
    </div>

    <div class="form-field">
      <input matInput formControlName="password" placeholder="Mot de passe" type="password" />
    </div>
    <button class="button button-form" type="submit">Sauvegarder</button>
  </form>


  <h2>Abonnements</h2>

  <div class="grid">
    @for(topic of userTopics; track topic.name) {
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ topic.label }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ topic.description }}</p>
          <button class="button" (click)="unsubscribe(topic)">Se désabonner</button>
        </mat-card-content>
      </mat-card>
    }
  </div>

</div>
