<div class="feed-actions">
  <button class="button" routerLink="/post/new" title="Créer un article">Créer un article</button>
  <div class="sort">
    Trier par
    <mat-icon
      (click)="toggleSort()"
      [attr.title]="sortDirection === 'desc' ? 'Trier du plus ancien au plus récent' : 'Trier du plus récent au plus ancien'">
      {{ sortDirection === 'desc' ? 'arrow_downward' : 'arrow_upward' }}
    </mat-icon>
  </div>
</div>

@if(posts$ | async; as posts) {
  @if(posts.length === 0) {
    <div class="no-content">
      <p>Aucun article disponible pour le moment.</p>
      <p>Abonnez-vous à des thématiques pour découvrir du contenu correspondant à vos intérêts !</p>
      <button routerLink="/topics" class="button" title="Voir les thèmes">Voir les thèmes</button>
    </div>
  }
  <div class="grid">
    @for(post of posts; track post.id) {
      <mat-card routerLink="/post/{{post.id}}">
        <mat-card-header class="custom-header">
          <div class="header-content">
            <mat-card-title>{{ post.title }}</mat-card-title>
            <mat-card-subtitle>
              <div class="card-subtitle">
                <p class="date">Le <span>{{ post.createdAt | date:'dd/MM/yy' }}</span></p>
                <p class="author">Par <span>{{ post.author.username }}</span></p>
              </div>

            </mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div>
            <p>{{ post.content.length > 255 ? (post.content | slice:0:255) + '...' : post.content }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    }
  </div>
}
