
@if(topics$ | async; as topics) {
  <div class="grid">
    @for (topic of topics; track topic.name) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{topic.label}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{topic.description}}</p>
        @if (userSignal()?.topics?.includes(topic.name)) {
          <button class="button" (click)="unsubscribe(topic.name)">Déjà abonné</button>
        } @else {
          <button class="button" (click)="subscribe(topic.name)">S'abonner</button>
        }
      </mat-card-content>
    </mat-card>

    }
  </div>
}
