
<div class="header-dialog">
  <mat-icon (click)="onCancel()">close</mat-icon>
</div>


<mat-dialog-content>
  <p>Veuillez saisir votre mot de passe actuel.</p>

  <form [formGroup]="form" (ngSubmit)="onConfirm()">
    <div class="form-field">
      <input matInput formControlName="password" placeholder="Mot de passe" type="password" />
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button
class="button"
[ngClass]="{'button': true, 'button-grey': form.invalid}"
(click)="onConfirm()" [disabled]="form.invalid">
    Confirmer
  </button>
</mat-dialog-actions>
