/*========================================
               COLORS
 =======================================*/

$primary-color: #7763C5;
$light-grey-color: #D9D9D9;
$error-color: #f44336;

$danger-color: #A40F0F;
$danger-color-hover: #E75B5B;

